@font-face {
    font-family: Alliance;
    src: url("/font/Allience.woff") format("woff"), url("/font/Allience.ttf")  format("truetype");
}

body {    
    margin: 0;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 1.7em;
    color: #b5944d;
}

h1 {
    font-size: 200px;
    line-height: 1em;
    font-family: 'Alliance', sans-serif;
    color: #b5944d;
    opacity: 0.7;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
}

#mesh {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    flex-direction: column;
    z-index: 2000;
}

.splash {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home__why {
    display: flex;
    align-items: flex-end;
    padding-bottom: 50vh;
}

.home__why__content {
    width: 495px;
}

.home__why__header h2 {
    font-size: 70px;
    line-height: 1.2em;
    font-family: 'Alliance', sans-serif;
    margin: 0;
}

.home__why__content__text {
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.home__how {
    flex-direction: row;
    justify-content: space-between;
    margin: 120px auto 61vh;
}

.home__footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero {
    width: 365px;
    margin-top: 145px;
    margin-right: 60px;
}

.lead {
    font-weight: 100;
    font-size: 20px;
    line-height: 1.8em;
}

.lead__img {
    height: 20px;
    margin-left: 4px;
}

footer {
    position: relative;
    z-index: 2000;
    background-color: #806837;
    color: #000;
    padding-bottom: 24vh;
}

.contact {
    margin-top: 145px;
    font-size: 24px;
    line-height: 1.4em;
}

.contact a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.contact a:hover {
    color: #b5944d;
    border-bottom: 1px solid #b5944d;
}

.contact a:active {
    color: #000;
}