@font-face {
    font-family: Alliance;
    src: url("public/font/Allience.woff") format("woff"), url("public/font/Allience.ttf")  format("truetype");
}

body {    
    margin: 0;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.splash {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 200px;
        font-family: 'Alliance', sans-serif;
        color: #b5944d;
    }
}